.clear-float {
    clear: left;
}

html {
    background: white;
    margin: 0% 0%;
    overflow-x: hidden;
    padding: 0px;
}

body {
    width: 96vw;
    height: max-content;
    max-height: 33vw;
    max-width: 96vw;
    margin: 3% 2%;
    padding: 0px;
}

ul {
    margin: 0% 0%;
    overflow: hidden;
    overflow-y: scroll;
    padding: 0px;
}

li {
    font-size: 3vw;
    margin: 0% 0%;
    padding: 0px;
}

img {
    height: 7vw;
    margin: 1% 0%;
    padding: 0px;
    width: 8vw;
    vertical-align: middle;
}

img.search-icon {
    float: left;
}

img.gear-icon {
    height: 3vw;
    float: right;
    margin: 3% 0%;
    width: 4vw;
}

img.gear-icon:hover {
    cursor: pointer;
}

input {
    border: none;
    font-size: 5vw;
    margin: 1% 0%;
    padding: 0px;
}

input[type='text']:empty {
    color: gray;
}
